<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GameV.01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACFE900F1C6E89A5006BCB5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACFE90271C6E89A5006BCB5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACFE90321C6E89A5006BCB5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
